/* _lcid="1033" _version="12.0.4518"
    _LocalBinding */
.Normal-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:10pt;    
 FONT-FAMILY: verdana, arial, helvetica, sans-serif;  
}
.Normal-H
{
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.Heading1-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:22pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading1-H
{
 FONT-SIZE:22pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading2-P
{
 margin: 0pt 0pt 0pt 0pt;
 FONT-SIZE:20pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading2-H
{
 FONT-SIZE:20pt; 
 FONT-FAMILY: arial;  
 font-weight: bold;
}
.Heading3-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:18pt; 
 FONT-FAMILY: arial;  
 font-weight: bold;
}
.Heading3-H
{
 FONT-SIZE:18pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading4-P
{
 margin: 0pt 0pt 0pt 0pt;
 FONT-SIZE:16pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading4-H
{
 FONT-SIZE:16pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading5-P
{
 margin: 0pt 0pt 0pt 0pt;
 FONT-SIZE:14pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading5-H
{
 FONT-SIZE:14pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading6-P
{
 margin: 0pt 0pt 0pt 0pt;
 FONT-SIZE:13pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading6-H
{
 FONT-SIZE:13pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading7-P
{
 margin: 0pt 0pt 0pt 0pt;
 FONT-SIZE:12pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading7-H
{
 FONT-SIZE:12pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading8-P
{
 margin: 0pt 0pt 0pt 0pt;
 FONT-SIZE:11pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading8-H
{
 FONT-SIZE:11pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading9-P
{
 margin: 0pt 0pt 0pt 0pt;
 FONT-SIZE:10pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.Heading9-H
{
 FONT-SIZE:10pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
}
.DefaultParagraphFont-H
{;}
.TableNormal-T
{;}
.TableNormal-R
{;}
.TableNormal-C
{;}
.Title-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:24pt; 
 FONT-FAMILY: arial; 
 font-weight: bold; 
 text-align:center;
}
.Title-H
{
 FONT-SIZE:24pt; 
 FONT-FAMILY: arial; 
 font-weight: bold;
 text-align:center;
}
.BodyText-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.BodyText-H
{
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.ListBullet-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.ListBullet-H
{
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.ListBullet2-P
{
 margin: 0pt 0pt 0pt 0pt;
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.ListBullet2-H
{
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.ListBullet3-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.ListBullet3-H
{
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.List-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.List-H
{
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.List2-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.List2-H
{
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.List3-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.List3-H
{
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.BodyText2-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.BodyText2-H
{
 FONT-SIZE:9pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.BodyText3-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.BodyText3-H
{
 FONT-SIZE:8pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.Hyperlink-H
{color:#0000FF;}
.TOC1-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.TOC1-H
{
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.TOC2-P
{
 margin: 0pt 0pt 0pt 0pt; 
 FONT-SIZE:10pt;  
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.TOC2-H
{
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.TOC3-P
{
 margin: 0pt 0pt 0pt 0pt;
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.TOC3-H
{
 FONT-SIZE:10pt; 
 FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
}
.TableGrid-T
{;}
.TableGrid-R
{;}
.TableGrid-C
{;}
.majorAsciiTheme
{
 FONT_FAMILY: arial; _LCssFF(RcamajorAsciiThemeFontFamily)
}
.majorAnsiTheme
{
 FONT_FAMILY: arial; _LCssFF(RcamajorAnsiThemeFontFamily)
}
.majorEATheme
{
 FONT_FAMILY: arial; _LCssFF(RcamajorEAThemeFontFamily)
}
.majorCSTheme
{
 FONT_FAMILY: arial; _LCssFF(RcamajorCSThemeFontFamily)
}
.minorAsciiTheme
{
 FONT_FAMILY: verdana; _LCssFF(RcaMinorAsciiThemeFontFamily)
}
.minorAnsiTheme
{
 FONT_FAMILY: verdana; _LCssFF(RcaMinorAnsiThemeFontFamily)
}
.minorEATheme
{
 FONT_FAMILY: verdana; _LCssFF(RcaMinorEAThemeFontFamily)
}
.minorCSTheme
{
 FONT_FAMILY: verdana; _LCssFF(RcaMinorCSThemeFontFamily)
}
